@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./flames";

.height {
    height: 50vh!important;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.position-custom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.size {
    font-size: 40px;
    font-weight: bold;
}