body {
    color: #555;
    padding-top: 2rem;
  }
  
  h1 {
    margin-bottom: 1.5rem;
  }
  
  .content {
    margin: 0 1rem;
  }
  
  h1 span {
    color: #3672A4;
  }
  
  p span,
  a {
    color: #3672A4;
  }
  
  a {
    text-decoration: underline;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  tr:nth-child(even) {background-color: #d6d5d5;}