* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

body {
    padding: 5%;
    background-color: lightgray;
}

main  {
    background-color: #FFF;
}

header {
    padding: 5% 5% 15% 5%;
    position: relative;
}

.menu {
    float: right
}

.menu li {
    list-style: none;
    display: inline;
    margin-left: 2rem;
    font-size: 18px
}

.menu a {
    text-decoration: none;
    color: black;    
}

.shop-name {
    float: left;
    font-weight: 400;
    font-size: 25px;
}

.shop-name img {
    margin: 0 2.5rem 0 0

}
.top-article {
    padding: 0 0 5% 10%;
}

.headline {
    font-size: 30px;
    font-weight: 500;
}

.video {
    text-decoration: none;
    background-color: black;
    color: #FFF;
    font-size: 12px;
    padding: 4px;
    position: relative;
    left: 50%
}

