* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

body {
    padding: 5%;
    background-color: lightgray;
}

main  {
    background-color: #FFF;
}

header {
    padding: 5% 10% 15% 10%;
    position: relative;
}

.menu {
    float: right
}

.menu li {
    list-style: none;
    display: inline;
    margin-left: 2rem;
    font-size: 18px
}

.menu a {
    text-decoration: none;
    color: black;    
}

.shop-name {
    float: left;
    font-weight: 400;
    font-size: 25px;
}

.shop-name img {
    margin: 0 2rem 0 0

}

header:after {
    clear: both;
}

.top-article {
    padding: 0 0 5% 15%;
    width: 60%
}

.headline {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3%;
}

.video {
    text-decoration: none;
    background-color: black;
    color: #FFF;
    font-size: 12px;
    padding: 4px;
    float: right
}

.image-line article{
display: inline-block;
margin-left: 17.5px;
}

.image-line {
    text-align: center;
}

.image-line article:first-of-type {
    margin: 0;
}

.left-pic {
background-image: url(./images/white-box.jpg);
background-position-x: -250px
}

.middle-pic {
background-image: url(./images/room.jpg)
}

.right-pic {
background-image: url(./images/black-white.jpg);
background-position-x: -50px
}

.left-pic, .middle-pic, .right-pic {
    background-size: cover;
    width: 440px;
    height: 500px;
    padding: 70px;
    text-align: left;
}

.arrow-image-line {
    position: relative;
    text-decoration: none;
}

.pic-text {
    color: #FFF;
    -webkit-text-shadow: 0px 0px 12px rgba(0,0,0,0.75);
-moz-text-shadow: 0px 0px 12px rgba(0,0,0,0.75);
text-shadow: 0px 0px 12px rgba(0,0,0,0.75);
    font-size: 40px;
}

.add-img {
    position: absolute;
    top: 330px;
    left: 0;
    background-color: #FFF;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 0px px rgba(255,255,255,0.5);
-moz-box-shadow: 0px 0px 0px px rgba(255,255,255,0.5);
box-shadow: 0px 0px 0px px rgba(255,255,255,0.5);
}

footer {
    text-align: center;
    padding: 1%
}